[build]
  base = "/"
  publish = "public/"
  command = "npm start"

[build.environment]
  MESSLIMIT = "1000"
  PORT = "3000"

[functions]
  included_files = ["*","package.json"]

[dev]
  command = "npm start"
  port = 3000
  publish = "public"
