:root {
  --neutral-green: #9FCFBF;
  --light-grey: #bdbdbd;
  --yellow-transp: #bdbd004d;
  --red-transp: #bd00004d;
  --blue-transp: #0000bd4d;
  --green-algo: #006633;
  --yellow-past: #D6B366;
}
html{
  background-image: url("RPGuaxa.jpg");
}
html, body {
  background-color: var(--neutral-green);
  background-color: #9FCFBFf0;
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,h2,h3,h4{
  display: unset;
}
input {
  border-radius: 20px;
  background-color: #eeb;
  border: 1px solid;
  margin: 3px;
  padding: 5px;
}

#chat {
  height: auto;
  width: 95vw;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#chat > div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

#chat > div > input {
  width: 100%;
  /*border: 1px solid #ddd;*/
  height: 2em;
  padding: 0 20px;
  /*font-size: 14px;*/
  background-color: #ffffff80;
}

button {
  width: 6em;
  /*height: 3em;*/
  /*font-size: 14px;*/
  background: #9da;
  text-align: center;
  /*line-height: 50px;*/
  font-weight: bold;
  /*color: #FFF;*/
  /*margin-top: 10px;*/
  border-radius: 2em;
}

button > img {
  width: 5em;
}

#chat > .messages {
  width: 100%;
  height: auto;
  height: 100px;
  margin: 10px 0;
  border: 1px solid black;
  background-color: #ffffff80;
  border-radius: 0.5em;
  padding: 5px;
  overflow: auto;
  flex-direction: column;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1; /* inicialmente acima */
  padding-top: 4%;
  top: 20px;
  /* overflow: auto; ativa rolagem quando necessario */
  background-color: var(--neutral-green);
  border: solid black 1px;
  border-radius: 5px;
  min-width: 250px;
  max-width: 100%;
}

#modalform, #caracterinfos{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#modalform > button {
  width: unset;
}

.hiddemdiv {
  visibility: hidden;
}

main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.showuserdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
}

.divguaxa{
  border: solid gold 2px;
}
.divguaxa .showusername{
  color: darkolivegreen;
  font-style: italic;
  text-decoration: underline;
}
.showusername{
  font-size: small;
  font-weight: bold;
}

video {
  max-height: 25vh;
}

.mediabt{
  width: 3em;
  height: 3em;
  background-color: #9FCFBFf0;
}
.mediabt > img{
  width: 2em;
}
.borderoff{
  border: red solid 2px;
}
